
.body {
  margin: 0;
}

body {
  font-family:
  background-image: url("http://www.freeiconspng.com/uploads/smoke-and-haze-cloud-cover-stock-photo-png-5-by-annamae22-on--10.png");

}


ul {
    list-style-type: none;
    margin: 0;
    padding: black;
    overflow: hidden;
    background-color: white;
    font-size: 130%;
}

li a {
    display: block;
    float: right;
    color: black;
    text-align: center;
    padding: 20px 20px;
    border-bottom: black;
    text-decoration: none;
}

li a {
    background-color: none;
    text-decoration: none;
}

h1 {
   position: relative;;
   font-family:
   font-size: 500%;
   margin: 0%;
   padding: 10%:
}

h2 {
  position: relative;
  font-family:
  font-size: 200%;
  margin: 1%;
  padding: 10%:
}

h3 {
font-size: 100%;
}


p {
  font-size: 120%;
}

.about {
  float: left;
  display: block;
   margin: 3%;
   padding: 1%;
}

.portfolio {
  float: left;
  display: block;
   margin: 3%;
   padding: 1%;
}

.contact {
  float: left;
  display: block;
   margin: 3%;
   padding: 1%;
}

.footerLink {
  text-align: right;

}
