body {
    font: 20px
    line-height: 1.8;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
    z-index: 999;
}

.navbar-nav  li a:hover {
    color: white !important;
}

.navbar-brand {
  font-size: 400%;
  font-family: 'Yellowtail', cursive;
}

h1 {
  font-size: 600%;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  color: white;
  margin-top: 150px;
  letter-spacing: 8px;
}

h3 {
   font-size: 30px;
   margin-top: 70px;
   text-align: center;
   margin-bottom: 40px;
   font-family: 'Nunito Sans', sans-serif;
   color: #333333;
}

h4 {
  color: black;
  font-size: 25px;
  margin-top: 100px;
}

h5 {
  font-size: 30px;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

h6 {
  font-size: 60px;
  margin-top: 10px;
  color: #333333;
}

a:hover {
  color: #333333;
}

p {
  font-size: 16px;
  text-align: center;
  color: #333333;
}

div.container-fluid.bg-1 {
   margin-top: 0px;
   text-align: center;
}

.bg-1 {
    background-image: url('http://wallpaper.zone/img/125867.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    top: 500px;
    height: 600px;
    overflow: hidden;
    margin-top: auto;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.container-fluid.bg-2 {
   padding-top: 0px;
   width: 700px;
   text-align: center;
}

.bg-2 {
    background-color: white;
    color: black;
}

div.container-fluid.bg-3 {
   padding-top: 0px;
   text-align: center;
   padding-bottom: 40px;
}

.bg-3 {
    background-color: #D3D3D3;
    color: black;
    z-index: 100;
}

.bg-4 {
  color: black;
  background-color: white;

}

.bg-4 a:hover #contact {
  color: #FFB6C1;
}

.bg-5 {
    background-color: grey;
    color: black;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

a.btn.btn-default.btn-lg {
   margin-top: 20px;
}

footer.container-fluid.bg-5 {
   font-weight: bold;
   background-color: #D3D3D3;
   padding-bottom: 20px;
   padding-top: 30px;
   letter-spacing: 2px;
   color: #696969;
}

.col-md-6.text-center {
   padding-top: 2.5%;
}
