body {
    font: 20px
    line-height: 1.8;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
    z-index: 989;
}

.navbar-nav  li a:hover {
    color: white !important;
}

.navbar-brand {
  font-size: 400%;
  font-family: 'Yellowtail', cursive;
}

ul#navbar-list li {
  color: black;
}

.nav navbar-nav navbar-right {
  color: black;
}

h1 {
  font-size: 600%;
  text-align: center;
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: black;
  font-size: 25px;
  margin-top: 100px;
}

h5 {
  font-size: 30px;
  margin-top: 90px;
  text-align: center;
  margin-bottom: 40px;
}

h6 {
  color: black;
  font-size: 60px;
}

a:hover {
  color: #FFB6C1;
}

a {
  color: black;
}

p {
  font-size: 16px;
  text-align: center;
}

.margin {
  margin-bottom: 45px;
  text-align: center;
}

div.container-fluid.bg-1.text-center {
   margin-top: 80px;
}

.bg-1 {
    background-image: url('http://wallpaper.zone/img/125867.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    top: 500px;
    height: 600px;
    overflow: hidden;
    margin-top: auto;
    padding
}

div.container-fluid.bg-2.text-center {
   padding-top: 0px;
   width: 700px;
}

.bg-2 {
    background-color: white;
    color: black;
}

div.container-fluid.bg-3.text-center {
   padding-top: 0px;
}

.bg-3 {
    background-color: #D3D3D3;
    color: black;
    z-index: 100;
}

.bg-4 {
  color: black;
  background-color: white;

}

.bg-4 a:hover #contact {
  color: #FFB6C1;
}

.bg-5 {
    background-color: grey;
    color: black;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
